---
import MainLayout from "@/layouts/MainLayout.astro";
import PostCard from "@/components/PostCard.astro";

import { getCategoriesFromPost } from "@/api/posts/getCategoriesFromPost";
import { getPosts } from "@/api/posts/getPosts";

import "@/assets/sass/pages/_allPosts.scss";
import Pagination from "@/components/Pagination.astro";
import { sortPosts } from "@/api/posts/sortedPosts";

const posts = await getPosts();

export async function getStaticPaths({ paginate }) {
  const posts = await getPosts();
  const sortedPosts = await sortPosts(posts);

  return paginate(sortedPosts, { pageSize: 4 }); // ovaj return vraća page u Astro.
}
const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <MainLayout>
    <main class="all-posts">
      <h1 class="all-posts__headline">All blog posts</h1>
      {
        page.data.map((post) => (
          <PostCard
            post={post}
            categories={getCategoriesFromPost(post)}
            image={"https://picsum.photos/400/500"}
          />
        ))
      }
    </main>
    <Pagination
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      pageNumber={page.currentPage}
    />
  </MainLayout>
  <style lang="scss"></style>


</html>
