---
import Footer from "../components/Footer.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import NewPostCard from "@/components/NewPostCard.astro";
import LinkCard from "@/components/LinkCard.astro";
import PostCard from "@/components/PostCard.astro";

// api
import { getPosts } from "@/api/posts/getPosts.ts";
import { getLatestPost } from "@/api/posts/sortedPosts";
import { getCategoriesFromPost } from "@/api/posts/getCategoriesFromPost";
import { getQuotes } from "@/api/quotes/getQuotes";
import { getRandomQuote } from "@/api/quotes/getRandomQuote";

import "@/assets/sass/pages/_homePage.scss";
// Fetch posts
const posts = await getPosts();

// Get latest post
const latestPost = await getLatestPost(posts, { sort: true });

// Calculate categories
const latestCategories = latestPost.attributes.categories.data.map(
  (category) => category.attributes.category_name
);

const Quote = await getRandomQuote(getQuotes());
---

<html>
  <MainLayout>
    <main class="hero">
      <div class="main-text">
        <h1>Welcome to my blog!</h1>
        <a class="heading__link" href=`/blog`>See all posts <span>>></span></a>
      </div>
      <div class="new-post">
        <NewPostCard post={latestPost} categories={latestCategories} />
      </div>
      <div class="card-1">
        <LinkCard
          text={`My Photography >>`}
          image={"https://www.k9ofmine.com/wp-content/uploads/2018/07/beautiful-dog-breed-list.jpg"}
        />
      </div>
      <div class="card-2">
        <LinkCard
          text={`About me >>`}
          image={`https://wallpapers.com/images/featured/cute-dog-brtwwfga72pilv0j.jpg`}
        />
      </div>
      <h3 class="headline">Recent blog posts</h3>
      <div class="recent-posts">
        {
          posts
            .slice(0, 4)
            .map((post) => (
              <PostCard
                post={post}
                categories={getCategoriesFromPost(post)}
                image={
                  "http://localhost:1337/uploads/thumbnail_ai_generated_7771756_1280_87ed9891ff.webp"
                }
              />
            ))
        }
      </div>
    </main>

    <div class="quote-corner">
      <h4>Quote Corner</h4>
      <h4 class="quote-corner__quote">"{Quote.quote}"</h4>
      <h5 class="quote-corner__author">- {Quote.author}</h5>
    </div>
    <style>
      h1 {
        font-size: 2rem;
      }
    </style>
  </MainLayout>
</html>
