---
import Footer from "../components/Footer.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import NewPostCard from "@/components/NewPostCard.astro";
import LinkCard from "@/components/LinkCard.astro";
import PostCard from "@/components/PostCard.astro";

// api
import { getPosts } from "@/api/posts/getPosts.ts";
import { getLatestPost, sortPosts } from "@/api/posts/sortedPosts";

// Fetch posts
const posts = await getPosts();

// Get latest post
const latestPost = await getLatestPost(posts, { sort: true });

// Calculate categories
const categories = latestPost.attributes.categories.data.map(
  (category) => category.attributes.category_name
);
---

<html>
  <div class="main-text">
    <h1>Welcome to my blog!</h1>
    <a class="heading__link" href=`/blog`>See all posts <span>>></span></a>
  </div>
  <MainLayout>
    <main class="hero">
      <div class="new-post">
        <NewPostCard post={latestPost} categories={categories} />
      </div>
      <LinkCard
        text={`My Photography >>`}
        image={"https://www.k9ofmine.com/wp-content/uploads/2018/07/beautiful-dog-breed-list.jpg"}
      />
      <LinkCard
        text={`About me >>`}
        image={`https://wallpapers.com/images/featured/cute-dog-brtwwfga72pilv0j.jpg`}
      />
      <h3>Recent blog posts</h3>
      <div class="recent-posts">
        <PostCard post={latestPost} categories={categories} />
        <PostCard post={latestPost} categories={categories} />
      </div>
    </main>

    <div class="quote-corner">
      <h4>Quote Corner</h4>
    </div>
    <Footer />
    <style>
      h1 {
        font-size: 2rem;
      }
    </style>

    <style lang="scss">
      @use "../assets/sass/layouts/_homePage.scss";
    </style>
  </MainLayout>


</html>
