---
import Labels from "./Labels.astro";

const { post, categories } = await Astro.props;
---

<article class="new">
  <div class="image">
    <img class="new__image" src={post.attributes.cover_url} />
    <div class="new__labels">
      <div class="new__date">
        <Labels
          text={new Date(post.attributes.publishedAt).toLocaleDateString()}
          theme={"white"}
        />
      </div>
      <div class="new__categories">
        {
          categories.map((category) => (
            <Labels text={category} theme={"black"} />
          ))
        }
      </div>
    </div>
  </div>
  <div class="new__description">
    <a href={`/blog/${post.attributes.Slug}`} <h2 class="new__title">
      <span class="bold-accent">New Post:</span>
      {post.attributes.Title}
    </a>

    <a href={`/blog/${post.attributes.Slug}`} class="new__arrow">
      <svg
        width="10"
        height="10"
        viewBox="0 0 78.974304 78.84581"
        version="1.1"
        id="svg5"
        fill="red"
        xml:space="preserve"
        inkscape:version="1.2.2 (732a01da63, 2022-12-09, custom)"
        sodipodi:docname="blog-assets"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg"
        fill="red"
        ><sodipodi:namedview
          id="namedview7"
          borderopacity="1"
          inkscape:showpageshadow="0"
          inkscape:pageopacity="0"
          inkscape:pagecheckerboard="0"
          inkscape:deskcolor="#d1d1d1"
          inkscape:document-units="mm"
          showgrid="false"
          showguides="false"
          inkscape:zoom="0.18373843"
          inkscape:cx="-1376.9575"
          inkscape:cy="168.71811"
          inkscape:window-width="1920"
          inkscape:window-height="1044"
          inkscape:window-x="1920"
          inkscape:window-y="1944"
          inkscape:window-maximized="1"
          inkscape:current-layer="layer1"></sodipodi:namedview><defs id="defs2"
        ></defs><g
          inkscape:label="Layer 1"
          inkscape:groupmode="layer"
          id="layer1"
          transform="translate(750.27809,-194.83207)"
          ><path
            class="arrow-svg"
            style="stroke-width:0.264583"
            d="m -746.31457,269.70769 -3.96356,-3.97018 29.8956,-29.89647 29.8956,-29.89648 h -18.58654 -18.58654 v -5.55625 -5.55625 h 28.17812 28.17812 v 28.17812 28.17812 h -5.55625 -5.55624 v -18.58653 -18.58654 l -29.83221,29.83133 c -16.40771,16.40722 -29.89303,29.83132 -29.96737,29.83132 -0.0743,0 -1.91876,-1.78659 -4.09873,-3.97019 z"
            id="path302"
            inkscape:export-filename="../e6c68bbc/topright.svg"
            inkscape:export-xdpi="96"
            inkscape:export-ydpi="96"></path></g
        ></svg
      >
    </a>
  </div>
</article>

<style lang="scss">
  @use "@/assets/sass/components/_newPostCard.scss";
</style>
