---
import { slugify } from "@/utils/format";
import Labels from "./Labels.astro";
import { Image } from "astro:assets";
interface Props {
  post: any;
  categories: any;
  image: string;
}

const { post, categories, image } = Astro.props;
const text = post.attributes.Title;
---

<article class="post">
  <a href=`/blog/${post.attributes.Slug}`>
    <Image
      height={500}
      width={500}
      class="post__image"
      src={image}
      alt="blog post image"
    />
  </a>
  <div class="post__details">
    {
      categories.map((category) => (
        <Labels text={category} theme={"universal"} link={slugify(category)} />
      ))
    }

    <div class="post__headline">
      <Labels
        id="date"
        text={new Date(post.attributes.publishedAt).toLocaleDateString()}
        theme={"universal-date"}
        link={""}
      />
      <a href=`/blog/${post.attributes.Slug}`> <h2>{text}</h2></a>

      <a href=`/blog/${post.attributes.Slug}`>See post >></a>
    </div>
  </div>

  <style lang="scss">
    @use "@/assets/sass/components/_PostCard.scss";
  </style>
</article>
