---
import { slugify } from "@/utils/format";
import Labels from "./Labels.astro";
import { Image } from "astro:assets";
import "@/assets/sass/components/_PostCard.scss";
import { getSrcSetFromImage } from "@/api/images/getSrcSetFromImage";
import { getCategoriesFromPost } from "@/api/posts/getCategoriesFromPost";
import type Post from "@/api/types/Post";

interface Props {
  post: Post;
}

const { post } = Astro.props;
const categories = await getCategoriesFromPost(post);
const text = post.attributes.Title;

const srcset = getSrcSetFromImage(post.attributes.cover_image);
---

<article class="post">
  <a href=`/blog/${post.attributes.Slug}`>
    <Image
      height={300}
      width={300}
      class="post__image"
      src={"/"}
      alt="blog post image"
      srcset={srcset}
      sizes="(max-width: 500px) 25vw, (max-width: 1200px) 50vw, 100vw"
    />
  </a>
  <div class="post__details">
    {
      categories.map((category) => (
        <Labels text={category} theme={"universal"} link={slugify(category)} />
      ))
    }
    <Labels
      id="date"
      text={new Date(post.attributes.publishedAt).toLocaleDateString()}
      theme={"universal-date"}
      link={""}
    />
    <div class="post__headline">
      <a href=`/blog/${post.attributes.Slug}`> <h2>{text}</h2></a>

      <a href=`/blog/${post.attributes.Slug}`>See post >></a>
    </div>
  </div>
</article>
