---
import { getRelatedPosts } from "@/api/posts/getRelatedPosts";
import MainNavigation from "@/components/navigation/MainNavigation.vue";

import Footer from "@/components/Footer.astro";
import PostHead from "@/components/PostHead.astro";
import PostCard from "@/components/PostCard.astro";

import "@/assets/sass/layouts/_blogLayout.scss";

const { post } = Astro.props;

const title = post.attributes.Title;
const description = post.attributes.Description;
const image = post.attributes.cover_image.data.attributes.formats.thumbnail.url;
const date = post.attributes.publishedAt;

const relatedPosts = await getRelatedPosts(post, 2);
---

<html lang="en">
  <PostHead title={title} description={description} image={image} date={date} />

  <script src="@/js/prism.js"></script>

  <body class="blog">
    <MainNavigation client:load />
    <main class="blog-post">
      <slot />
    </main>
    <div class="more-posts limiter">
      <h6>More posts</h6>
      <div class="more-posts__rendered">
        {relatedPosts.map((relatedPost) => <PostCard post={relatedPost} />)}
      </div>
    </div>
    <Footer />
  </body>
</html>
